@page
@using Microsoft.AspNetCore.Authorization
@using Wafi.SmartHR.Web.Pages.LeaveRecords
@model IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Wafi.SmartHR.Localization
@using Wafi.SmartHR.Permissions
@inject IHtmlLocalizer<SmartHRResource> L
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Leave Records";
}

@section scripts {
    <abp-script src="/Pages/LeaveRecords/Index.js" />
}

<abp-card>
    <abp-card-header class="d-flex justify-content-between align-items-center">
        <h2 class="m-0">@L["LeaveRecords"]</h2> &nbsp;
        @if (await AuthorizationService.IsGrantedAsync(SmartHRPermissions.LeaveRecords.Create))
        {
            <button id="NewEmployeeButton" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                <span class="label">@L["NewLeaveRecord"]</span>
            </button>
        }
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="LeaveRecordsTable"></abp-table>
    </abp-card-body>
</abp-card> 