@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Wafi.Abp.Workspaces.Web.Pages.WorkSpaces
@model Wafi.Abp.Workspaces.Web.Pages.WorkSpaces.EditModalModel
@using Wafi.Abp.Workspaces.Localization
@inject IHtmlLocalizer<WorkspaceResource> L
@{
	Layout = null;
}

<form asp-page="/WorkSpaces/EditModal">
	<input hidden asp-for="Id" />

	<abp-modal>
		<abp-modal-header title="@L["Edit"].Value"></abp-modal-header>
		<abp-modal-body>
			<abp-input asp-for="Workspace.Name" />
		</abp-modal-body>
		<abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
	</abp-modal>
</form> 
